<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs title="Gadget Simplesheet!" />
    <Content type="html">
        <![CDATA[

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ks3096396.kimsufi.com/static/httprequest.js"></script>

<script language="javascript">
        </script>
	<div id="numberOfHours">HOURS</div>
    <div> 
    {% if persons %}
        <ul>
    {% for person in persons %}
        <li>{{ person.name }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No persons are available.</p>
    {% endif %}
    </div>
	<button onclick="JSONP()">JSONP Request Steve</button>
    
    <p id="name">
    </p>

    <script>
    //SimpleSheet JSONP Callback
    function sc_callback(data){
        var e = $("<ul><li>"+data.Name+"</li></ul>");
        $('body').append(e); // put it into the DOM
    }
    </script>
]]>
 </Content>
 </Module>

